@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  min-height: 100vh;
  background: linear-gradient(90deg,black,#922B21);
}
.wrapper {
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
}
.wrapper h1 {
    text-align: center;
    color:#fff;
    background: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px 10px;
}
.wrapper .content {
    padding: 5px 20px 10px;
}   
hr {
    margin: 10px 0;
}
.menu-level-2 {
    width: 100vw;
    margin: 0;
    padding-bottom: 16px;
}
a{
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
i {
    margin-top: 10px;
}
.box {
    width: 600px;
}
.txt {
    margin: 10px 0;
    width: 600px;
    height: 40px;
    background: #D1E7DD;
    border: black 1px solid;
    border-radius: 5px;
    overflow: hidden;
}
button {
    padding: 5px;
    border-radius: 5px;
    border:none;
    background-color: #2F2F2F;
    color: #FE6F27;
}
input {
    padding: 2px 10px;
    border-radius: 5px;
}